[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "resistify"
version = "0.4.0"
dependencies = [
  "scikit-learn==0.24.2",
  "biopython",
  "rich",
  "rich-argparse",
  "numpy < 1.23.0",
]
authors = [
  { name="Moray Smith", email="moraysmith98@gmail.com" },
]
description = "A resistance gene annotation tool"
readme = "README.md"
requires-python = ">=3.9"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.scripts]
resistify = "resistify.main:main"

[tool.hatch.build]
include = [
  "resistify",
]